stripe_secret_key = sk_test_1234
stripe_publishable_key = pk_test_1234
stripe_webhook_secret = whsec_1234
domain = https://example.com/  
subscription_price_id = price_12345
donation_product_id = prod_12345