# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234

# Checkout options
SUBSCRIPTION_PLAN_ID=plan_12345
DOMAIN=https://www.example.com

# Environment variables 
STATIC_DIR=../../client
